.icon-cancel,
.icon-pencil
  color: $brown
  font-size: 3.2rem

  &:hover
    cursor: pointer

.icon-cancel
  color: $red-dark

  &:hover
    color: lighten($red-dark, 10%)

.icon-pencil
  &:hover
    color: lighten($brown, 10%)
