html
  font-size: 62.5%

  *
    margin: 0
    padding: 0
    box-sizing: border-box

  body
    background-color:  $background-color

    h1
      margin-top: 2rem
      color: $white
      font-family: TitilliumWeb, sans-serif
      font-size: 3.6rem
      text-align: center

    h2
      font-size: 1.8rem

    p
      font-size: 2rem

    a
      text-decoration: none
