extends layout/layout
block config
    - const title = 'Add player'
    - const url = '/api/v1/players/'
    - const formClass = 'form--add'

block content
    h1 Add new player to database
    include layout/form
