extends layout/layout
block content
    div.introduction
        div.container
            div.row
                div.col-md-12
                    div.introduction__wrapper
                        p.introduction__paragraph Players in database:&nbsp;
                            span.introduction__count

    div.players
        div.container
            div.row#players__wrapper
                div.col-sm-6.col-md-4
                    a(href="/add").player-teaser.player-teaser--add
                        span.player-teaser__add.icon-plus-squared-alt


