extends layout/layout
block config
    - const title = 'Update player'
    - const url = '/api/v1/players/' + id
    - const formClass = 'form--update'

block content
    h1 Update information about player
    include layout/form
