.introduction
  padding: 5rem 0
  background: url('/public/images/grey_background.png') repeat

  &__wrapper
    display: flex
    justify-content: center

  &__paragraph
    font-weight: bold

  @media (max-width: $screen-md)
    padding-bottom: 0
