.players
  padding: 3rem 0
  background: url('/public/images/grey_background.png') repeat

  .player-teaser
    display: block
    position: relative
    width: 100%
    height: 95%
    margin-top: 2rem
    border-radius: 5px
    background-color: $grey
    box-shadow: 10px 10px 15px $shadow
    overflow: hidden

    &__image
      height: 25rem
      background: no-repeat center center
      background-size: cover

    &__content
      padding: 0 1rem

    &__name
      margin-top: 1rem
      font-weight: bold

    &__biography
      margin-top: 5px
      padding-bottom: 2rem
      
    &__update,
    &__delete
      position: absolute
      top: 1rem
      right: 1rem
      transition: all .2s
      
    &__update
      right: 5rem

    &__add
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      transition: all .2s
      color: $grey-dark
      font-size: 250px

    &--add
      min-height: 40rem
      background-color: $add-bg

      &:hover
        cursor: pointer

        .player-teaser__add
          color: $white
