.footer
  background: $footer-bg

  &__list
    display: flex
    justify-content: space-around
    padding: 5rem 0
    list-style-type: none

  &__item
    color: $grey-dark
    font-size: 2.4rem

    &:hover
      color: $white

  @media (max-width: $screen-md)
    &__list
      flex-direction: column
      align-items: center

    li
      padding: 1.5rem 0
