.form
  width: 100%

  &__group
    width: 100%

  &__label
    display: inline-block
    margin-bottom: .5rem
    font-size: 2.4rem

  &__input
    width: 100%
    height: 5rem
    margin-bottom: 3rem
    padding-left: 1rem
    border-radius: 5px
    font-size: 3.2rem

    &--textarea
      height: auto

  &__submit,
  &__label--file
    display: inline-flex
    align-items: center
    justify-content: center
    min-width: 20rem
    height: 5rem
    margin-bottom: 5rem
    padding: 0 2rem
    border: 2px solid darken($brown, 5%)
    border-radius: 5px
    outline: none
    background-color: $brown
    color: $white
    font-size: 2.4rem
    cursor: pointer

    &:hover
      background-color: lighten($brown, 10%)

  &__submit
    display: flex
    margin:
      right: auto
      left: auto


  &__file
    display: none

  &__error
    padding-bottom: 2rem
    color: $red-dark
    font-size: 1.6rem

  @media (max-width: $screen-md)
    &__label--file
      display: flex
      width: 100%

    &__submit
      width: 100%
