.navbar
  background: url('/public/images/chesboard.jpg') no-repeat center center
  background-size: cover

  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between

  &__image
    width: 17rem
    height: 17rem
    padding:  2rem 0

  @media (max-width: $screen-md)
    &__image
      display: none
