footer.footer
    div.container
        div.row
            div.col-sm-12
                ul.footer__list
                    li
                        a.footer__item(href='http://portfolio-webdevelopera.pl/home' target='_blank') About

                    li
                        a.footer__item(href='http://portfolio-webdevelopera.pl/home' target='_blank') Contact us

                    li
                        a.footer__item(href='http://portfolio-webdevelopera.pl/projects' target='_blank') Other works

                    li
                        a.footer__item(href='https://www.pajacyk.pl/#index' target='_blank') Support
