div.container
    div.row
        form(method='post', action=url enctype='multipart/form-data' class=formClass).form
            div.col-sm-8.offset-sm-2
                div.form__group
                    label(for='name').form__label Name
                    input(type='text' placeholder='Name' name='name').form__input#name

            div.col-sm-8.offset-sm-2
                div.form__group
                    label(for='rating').form__label Top rating
                    input(type='text' placeholder='Top rating' name='rating').form__input#rating

            div.col-sm-8.offset-sm-2
                div.form__group
                    label(for='biography').form__label Biography
                    textarea(placeholder='Biography' name='biography' rows='5').form__input.form__input--textarea#biography

            div.col-sm-8.offset-sm-2
                p.form__error

            div.col-sm-8.offset-sm-2
                div.form__group
                    label(for='file').form__label.form__label--file Upload file
                    input.form__file(type='file' name='imagePath')#file
                    
            div.col-sm-8.offset-sm-2
                div.form__group
                    input.form__submit(type='submit' value='Submit')
