doctype html
html(lang='en')
    head
        block config
            - const title = 'Chess site'
            - const url = '/api/v1/players'
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='stylesheet' href='/public/main.css')
        link(rel='shortcut icon' href='/public/images/favicon.ico')
        title #{title}

    body
        block navbar
            include navbar

        block content
            h1 Content goes here

        block footer
            include footer

        script(src='/public/bundle.js')
