nav.navbar
    div.container
        div.row
            div.col-sm-12
                div.navbar__wrapper
                    a(href='/')
                        img.navbar__image(src='/public/images/king-logo.png' alt='logo')
                    h1.navbar__heading  Welcome to chess players database
                    a(href='/')
                        img.navbar__image(src='/public/images/king-white-logo.png')
